* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  height: 100vh;
}

.content {
  font-size: 1.6rem;
}
.content button {
  border-radius: 0.5rem;
  width: 40rem;
  height: 3rem;
  cursor: pointer;
  background-color: #651dd1;
  color: #68de5a;
}
.content button:hover {
  background-color: #4804ad;
}