.header-content{
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    background-color: #8C52E5;
    img{
        margin-left: 1rem;
        width: 3.2rem;
        height: 3.2rem;
    }
    div{
        display: flex;
        justify-content: space-around;
        a{
            display: flex;
            justify-content: center;
            text-decoration: none;
            color: white;
            width: 20rem;
            &:hover{
                color: #68de5a;
            }
        }
        
    }
    

}